{% extends 'base.html.twig' %}

{% block title %}New FicheDeStock{% endblock %}

{% block content %}
    <h1> Fiche De Stock opération</h1>

    {{ include('fiche_de_stock/_form.html.twig') }}

{% endblock %}
