{# templates/notification/notification.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notifications</h1>

    <ul>
        {% for notification in notifications %}
            <li class="{{ notification.read ? 'read' : 'unread' }}">
                <a href="{{ notification.link }}">
                    {{ notification.message }}
                </a>
                <small>{{ notification.createdAt|date('Y-m-d H:i') }}</small>
            </li>
        {% else %}
            <li>No notifications</li>
        {% endfor %}
    </ul>
{% endblock %}
