{% extends 'base.html.twig' %}

{% block title %}Edit CR{% endblock %}

{% block content %}
    <h1>Edit CR</h1>

    {{ include('cr/_form.html.twig', {'button_label': 'Update'}) }}

   
{% endblock %}
